/* ------ */
/* GLOBAL */
/* ------ */

html, body {
    height: 100% !important;
    padding: 0px; margin: 0px;
    font-family: 'Helvetica', sans-serif;
    color: #D2D2D2;
}

body {
    background-color: #122636;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sketch-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #D64934;
    padding: 0px 33px; margin: 50px 0px 50px;
    min-height: 721px; width: 502px;
    border-radius: 5%;
}

/* --------------- */
/* HEADER -- TITLE */
/* --------------- */

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px; margin: 0px;
    font-family: 'Sacramento', 'helvetica', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    height: 167px;
}

.title {
    color: #ECB14F;
    padding: 0px; margin: 0px;
}

/* ---------------- */
/* HEADER -- SLIDER */
/* ---------------- */

#size-input {
    width: 100%;
    padding: 5px; margin: -10px 0px 0px;
}

.slider {
    -webkit-appearance: none;
    height: 1px;
    border-radius: 5px;
    background-color: #E6563F;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-style: none;
    border-radius: 50%;
    background-color: #D2D2D2;
}

/* ----------------- */
/* HEADER -- BUTTONS */
/* ----------------- */

.buttons {
    padding: 0px; margin: 0px;
}

button {
    padding: 5px; margin: 0px;
    background-color: #D64934;
    border-style: none;
    border-radius: 5px;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    color: #D2D2D2;
    letter-spacing: 1px;
}

button:hover {
    background-color: #E6563F;
    border-style: none;
    border-radius: 5px;
    color: white;
}

button:active {
    transform: translate(2px, 2px);
}

.btnOn {
    background-color: #E6563F;
    border-style: none;
    border-radius: 5px;
    color: white;
}

/* ---------------- */
/* HEADER -- PICKER */
/* ---------------- */

table {
    border-spacing: 0px;
    border: 1px solid #E6563F;
}

td {
    font-size: 6px;
    width: 16px; height: 16px;
    padding: 0px; margin: 0px;
}

.hide {
    opacity: 0.0;
}

.colorOn {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.40);
}

/* ---- */
/* GRID */
/* ---- */

.grid-buffer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px; margin: 0px;
    height: 554px;
}

.grid-container {
    width: 500px; height: 500px;
    align-self: center;
    display: grid;
    border: 1px solid #943021;
    background-color: #D2D2D2; 
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.grid-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(118, 135, 152, 5%);
    border-collapse: collapse;
}

.drawOn {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.40);
}

/* ------- */
/* EFFECTS */
/* ------- */

/* .picker-bg {
    background-color: white;
}

.rainbow-bg {
    background-color: red;
} */

/* ------------ */
/* CUSTOM FONTS */
/* ------------ */

@font-face {
    font-family: 'Sacramento'; src: url(./sacramento.ttf);
}