body {
    background-color: black;
}

.grid-container {
    display: grid;
    /* grid: auto / auto auto auto; */
}

.grid-item {
    /* background-color: black; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
}

.change-bg {
    background-color:pink;
}